<!doctype html>
<html>
<head>
    <title>Call Messages</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body class="profile">
<div class="container">

    <div class="page-header text-center">

        <h1><span class="fa fa-coffee"></span> Coffee Order</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        </div>
        <div class="col-sm-6" style="margin-left: 374px; padding-top:100px;">

          <form method="POST" action="/order">
            <input type="text" name="name" value="" placeholder="Name">
            <input type="text" name="order" value="" placeholder="order">
            <input type="submit" name="" value="SUBMIT">
          </form>




</div>

<script src="profile.js"></script>

</body>
</html>
